html(lang='fr')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
    link(rel='stylesheet', href='../css/style.css')
    title Donut Clicker
  body
    .container-fluid
      #border
        center
          p.utilisateur= username
          p
            | Cliquez sur les images pour gagner des donuts ou acheter des générateurs (yellow donut) de donut
          img#donut.img-responsive(src='../img/donut1.png')
          p
            | Nombre de donut: 
            span#nbredonut
          img#generateur.img-responsive(src='../img/yellowdun.png')
          p
            | Nombre de generateur: 
            span#nbregenerateur
          p
            | Nombre de donut au chocolat requis 
            span#nbregenerateurreq
          button.btn.btn-conversation.btn-lg.btn3d(type='button')
            span.glyphicon.glyphicon-ok
            a(href='/conversation') Conversation
          button.btn.btn-logout.btn-lg.btn3d(type='button')
            span.glyphicon.glyphicon-remove
            a(href='/logout') Deconnexion
    script(src='../js/jquery.min.js')       
    script(src='../js/trip.js')
    script(src='../js/bootstrap/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
